.App {
  font-family: "Inter", Arial, sans-serif;
  background: #fff;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.main-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 80vh;
  width: 100vw;
  box-sizing: border-box;
  background-color: #ebebe5;
}
.circle-container {
  position: relative;
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
}

.features-circle {
  width: 700px;
  height: 700px;
  background: #f26d6d;
  border-radius: 50%;
  position: absolute;
  left: -110px;
  top: -100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.features-circle ul {
  list-style: none;
  color: #fff;
  font-size: 1.08rem;
  padding-left: 0;
  font-weight: 500;
  font-family: "Inter", Arial, sans-serif;
}
.features-circle li {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
}
.check {
  font-size: 2.1rem;
  margin-right: 18px;
  font-weight: bold;
}

.register-form {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 32px 32px 24px 32px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  min-width: 340px;
  margin-right: 400px;
  margin-top: 150px;
  font-family: "Inter", Arial, sans-serif;
}
.register-form label {
  display: block;
  margin-bottom: 7px;
  font-size: 1.05rem;
  color: #222;
  font-weight: 500;
  font-family: "Inter", Arial, sans-serif;
}
.register-form input {
  width: 100%;
  padding: 9px;
  margin-bottom: 20px;
  border-radius: 7px;
  border: 1px solid #ccc;
  font-size: 1.05rem;
  background: #fafafa;
  font-family: "Inter", Arial, sans-serif;
}
.login-btn {
  width: 100%;
  padding: 11px;
  background: #222;
  color: #fff;
  border: none;
  border-radius: 7px;
  font-size: 1.05rem;
  cursor: pointer;
  font-weight: 500;
  font-family: "Inter", Arial, sans-serif;
}

.register-btn {
  width: 100%;
  padding: 11px;
  background-color: white;
  color: #222;
  /* border: 1px solid #ccc; */
  border-radius: 7px;
  font-size: 1.05rem;
  cursor: pointer;
  font-weight: 500;
  font-family: "Inter", Arial, sans-serif;
}
